/*Style sheet for index.html, porfolio.html, and contact.html*/


/*Styles for index, portfolio, and contact*/
body {
    color: #777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 auto;
    background-image: url(../images/grey_sandbag.png);

}

.header {
    border-bottom: 5px solid #cccccc;
    overflow: auto;
}

.container .navbar-brand {
    background: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", Times, "Times New Roman", serif;
    padding: 20px;
    line-height: 1.5;
    height: 90px;
    font-size: 34px;
    font-weight:bold;
}

.nav li{
    padding: 40px 10px 0px 10px;
}

.container .navbar-brand:hover {
    background: #4aaaa5;
    color: #ffffff;
}

.mainSection, .sidebar {
    background: #ffffff;
    border: 2px solid #dddddd;
    overflow:auto;
    padding:20px;
    margin:20px;
}

.sidebar {
    text-align:center;
}



h1, h2, h3 {
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
    font-family: "Georgia", Times, "Times New Roman", serif;
    margin-top: 0px;
    padding-bottom: 10px;
}

h1{
    font-size:24px;
    font-weight:bold;
}

h2{
    font-size:20px;
    font-weight:bold;
}

h3{
    font-size:20px;
}



.social {
    width: 50px;
    margin: 0px 5px 0px 5px;
}

.social:hover {
  border: 3px solid #cccccc;
}


footer .copy {
    clear: both;
    padding: 30px 0;
    width: 100%;
    background: #666666;
    color: #ffffff;
    border-top: 5px solid #4aaaa5;
    text-align: center;
    margin: 100px auto 0px auto;
    width: 100%;
}

/*Styles for Index Page*/

#marissa {
    width: 200px;
    float: left;
    margin: 0px 10px;
}

/*Fade in for index and contact page */
.info, .connect, .contact {
    animation-name:colorChange;
    animation-duration:4s;
}

@keyframes colorChange {
    from {opacity:0;}
    to {opacity:1;}
}

/*Styles for Portfolio Page*/

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 20px 25px;
  overflow: auto;
}

.work:nth-child(even) {
  float:right;
}

.work img {
  width: 100%;
  border: 0 none;
}

.work h3 {
  position: absolute;
  bottom: 15px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.work:hover h3 {
  font-size:24px;
  font-weight:bold;
  padding: 15px 2px;
}

.wrapper1 , .wrapper3, .wrapper5 {
    animation-name: moveImageRight;
    animation-duration: 2s;
    animation-timing-function:linear;
}

.wrapper2, .wrapper4 {
    animation-name: moveImageLeft;
    animation-duration: 2s;
    animation-timing-function:linear;
}

@keyframes moveImageLeft {
    from {left:100%;}
    to {left:0%;}
}

@keyframes moveImageRight {
    from {right:100%;}
    to {right:0%;}
}


/*Styles for Contact Page*/

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

